@import "normalize.css";
@import "colors.css";
@import "components/nav.css";
@import "components/buttons.css";
@import "standars.css";
@import "components/buttons.css";

body {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    /* height: 5000px; */
    align-items: center;
    /* background: var(--bg-light); */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50%;
    min-width: 600px;
    max-width: 1000px;
    background-color: var(--bg-white);
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    margin-bottom: 100px;
}

@media screen and (max-width: 650px) {
    .container {
        width: 90%;
        min-width: auto;
        /* background-color: red; */

    }
}

/*******************************/
/***     asdasdasdasdasda    ***/
/*******************************/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.width100 {
    width: 100%;
}

.colum50 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* min-width: 200px; */
}

label {
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 5px;
}

input::placeholder,
textarea::placeholder {
    color: var(--bg-muted);
    font-style: italic;
}


/* input[type="submit"] {
    border: none;
    margin-top: 1000px;
} */

#submitButton {
    margin-top: 50px;
}

#nameAndBuyLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
}



#nameContainer input,
#buyLinkContainer input {
    width: 100%;
}

#nameContainer,
#buyLinkContainer,
#descriptionCopntainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#buyLink {}

#playersContainer,
#lengthAndAgeContainer,
#typeAndCategoryContainer,
#publisherAndHiddenContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    /* grid-template-rows: 1200px; */
    grid-gap: 15px;
}

@media screen and (max-width: 650px) {

    #playersContainer,
    #lengthAndAgeContainer,
    #typeAndCategoryContainer,
    #publisherAndHiddenContainer {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1200px; */
        grid-gap: 15px;
    }
}

#playersContainer,
#lengthAndAgeContainer,
#typeAndCategoryContainer,
#publisherAndHiddenContainer {
    /* display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 100px;
    grid-gap: 15px;
    justify-items: center;
 */
}

#hiddenContainer {
    display: flex;
}

#hiddenRadioButtonContainer {
    display: flex;
    align-items: start;
    gap: 30px;
    margin-left: 20px;
}

#hiddenRadioButtonYesContainer,
#hiddenRadioButtonNoContainer {
    display: flex;
    gap: 10px;
}

#hiddenRadioButtonYes {}

#hiddenRadioButtonNo {}



/********************************/
#file-input {}

#preview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    border: solid 1px var(--bg-muted);
    padding: 20px;
}

.displayNone {
    display: none !important;
}

.preview-image {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 300px;
    min-width: 100px;
    /* height: 100px; */
    object-fit: cover;
}

.thumbnail-container {
    position: relative;
}

.delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: scale .2s;
}

.delete-icon:hover {
    scale: 1.2;

}

.delete-icon svg {
    width: 20px;
    stroke-width: 1px;
    stroke: var(--bg-danger);
}

/************/
.custom-file-input {
    cursor: pointer;
    position: relative;
    /* background-color: var(--secondary) !important; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary);
    border-radius: 4px;
    padding: 10px; */
}

.custom-file-input label {
    display: block;
    cursor: pointer;
    text-align: center;
    color: var(--bg-white);
    margin: 0;
}

.custom-file-input input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}