@import "normalize.css";
@import "colors.css";
@import "components/nav.css";
@import "components/buttons.css";
@import "standars.css";
@import "components/buttons.css";

body {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    /* height: 5000px; */
    align-items: center;
    /* background: var(--bg-light); */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50%;
    /* min-width: 600px; */
    max-width: 1000px;
    /* background-color: var(--bg-white); */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 100px;
}

/*******************************/
/***     asdasdasdasdasda    ***/
/*******************************/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.width100 {
    width: 100%;
}

.colum50 {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 50%;
    min-width: 200px;
}

label {
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="submit"] {
    border: none;
}

#nameAndBuyLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
}



#nameContainer input,
#buyLinkContainer input {
    width: 100%;
}

#nameContainer,
#buyLinkContainer,
#descriptionCopntainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#buyLink {}

#playersContainer,
#lengthAndAgeContainer,
#typeAndCategoryContainer,
#publisherAndHiddenContainer {
    display: flex;
    width: 100%;
    gap: 40px;
}

#hiddenContainer {
    display: flex;
}

#hiddenRadioButtonContainer {
    display: flex;
    align-items: start;
    gap: 30px;
}

#hiddenRadioButtonYesContainer,
#hiddenRadioButtonNoContainer {
    display: flex;
    gap: 10px;
}

#hiddenRadioButtonYes {}

#hiddenRadioButtonNo {}