@import "normalize.css";
@import "colors.css";
@import "components/nav.css";
@import "components/buttons.css";
@import "standars.css";
@import "components/star.css";
@import "components/productInfoVote.css";
@import "components/favoriteIconOverlay.css";

body {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    background-color: var(--bg-white);
}

.info-container,
#social-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 80%;
    /* min-width: 600px; */
    max-width: 1000px;
    /* background-color: var(--bg-white); */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.info-container-hidden {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 80%;
    /* min-width: 600px; */
    max-width: 1000px;
    /* background-color: var(--bg-white); */
    background: #c9c9c9ab;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.info-container-hidden p,
.info-container-hidden img,
.info-container-hidden h1,
.info-container-hidden table,
.info-container-hidden svg,
.info-container-hidden button,
.info-container-hidden #vote-button:hover {
    opacity: 0.4;
}
.info-container-hidden .starSvgEmpty {
    fill: none;
}
/****************/
/*   carousel   */
/****************/

.carousel {
    width: 100%;
}

.carousel-inner {
    /* background-color: blueviolet; */
    height: 100%;
    border-radius: 10px;
}

.carousel-inner img {
    height: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.carousel-inner .video {
    height: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

iframe {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100%;
    /* background-color: green; */
}

/* .carousel-indicators {
    background-color: red;
} */

.carousel-control-prev {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.carousel-control-prev:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.5) 100%);
}

.carousel-control-next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carousel-control-next:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.5) 100%);
}

.carousel-inner {
    /* top: 50%;
    transform: translateY(-50%); */
}

.productCon-infoCon-header-buttons-amazon img {
    height: 30px;
}

.button-amazon {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
}

.button-amazon:hover {
    opacity: 0;
}

/****************************/
/* score-vote-buy-container */
/****************************/
#score-vote-buy-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    /* background-color: red; */
}

#score-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: end;
    /* background-color: purple; */
}

#product-score-number p {
    font-size: 3rem;
    margin: 0;
    transform: translateY(5px);
    line-height: 3rem;
}

#stars {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#stars > svg {
    width: 35px;
}

#vote-buy-buttons {
    /* background-color: yellow; */
    gap: 10px;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

#vote-buy-buttons * {
    height: 30px;
}

.buttonMoreInfo {
    text-decoration: none;
    color: var(--white-link);
}

/*boton votar*/

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

#vote-button {
    color: white;
    background-color: var(--primary);
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
}

#vote-button:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    opacity: 0.9;
}

#vote-button:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    color: var(--white-link);
    opacity: 0.7;
}

#buy-button {
    position: relative;
}

.button-amazon {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
}

.button-amazon:hover {
    opacity: 0;
}

/****************/
/* product-name */
/****************/
#product-name {
    margin: 0;
}

/********************************/
/* players-length-age-container */
/********************************/
#players-length-age-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    /* background-color: aqua; */
}

#players-length-age-container img {
    height: 20px;
}

#players-length-age-container > div {
    display: flex;
    gap: 10px;
}

#players-length-age-container p {
    margin: 0;
}

/*********/
/* table */
/*********/

table {
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
    /* background-color: var(--bg-light); */
}

table h3 {
    font-size: 1rem;
    color: var(--text-white);
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}

table p {
    margin: 0 0 0 10px;
    font-size: 1.3rem;
}

tr {
    margin-bottom: -50px;
}

td {
    padding: 10px 10px 0 10px;
}

/********************/
/* social-container */
/********************/

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form textarea {
    resize: none;
}

form textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
}

#logInToReview {
    display: flex;
    gap: 50px;
    align-items: center;
}

#logInToReview > h4 {
    margin: 0;
}

.user-review {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.hidden-review {
    background-color: #c9c9c9ab;
}
.hidden-review p,
.hidden-review img {
    opacity: 0.4;
}

.user-review-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.user-name {
    margin: 0;
    font-weight: bold;
}
.userNameAndNoticeUserIsMuted {
    display: flex;
    gap: 10px;
    align-items: center;
}

.userNameMutedClass {
    margin: 0;
    color: red;
}
.noticeUserIsMuted {
    margin: 0;
    font-style: italic;
    color: red;
    font-size: smaller;
}

.dateAndDelete {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-date {
    color: var(--primary);
    margin: 0;
}

.photo-and-review-container {
    display: flex;

    gap: 20px;
}

.photo-and-review-container img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.mute-and-delete-icons-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.muted-user-icon {
}
