@import "normalize.css";
@import "colors.css";
@import "components/nav.css";
@import "components/buttons.css";
@import "standars.css";

body {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    /* height: 5000px; */
    align-items: center;
    /* background: var(--bg-light); */
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    /* background-color: var(--bg-white); */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 100px;
}
/*******************************/
/***     datos de usuario    ***/
/*******************************/
#userDataContainer {
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

#imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: green; */
    max-width: 50%;
    max-width: 300px;
}

.avatar-img {
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

#avatar-btn,
.verLink,
.eliminarBoton {
    color: white;
    background-color: var(--primary);
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#avatar-btn:hover,
.verLink:hover,
.eliminarBoton:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    opacity: 0.9;
}

#avatar-btn:active,
.verLink:active,
.eliminarBoton:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    color: var(--white-link);
    opacity: 0.7;
}

#dataContainer {
    display: flex;
    align-items: start;
    flex-direction: column;
    /* background-color: aqua; */

    width: 50%;
    min-width: 300px;
}

.singleDate {
    width: 100%;
}

.singleDateTitle {
    font-size: 1rem;
    color: var(--text-white);
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.SingleDateDate {
    margin: 10px 0 10px 10px;
    font-size: 1.3rem;
}
#dataContainer .singleDate:last-of-type .SingleDateDate {
    margin-bottom: 0;
}
/*******************************/
/***         overlay         ***/
/*******************************/

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
    max-height: 80%;
    overflow-y: auto;
    background-color: var(--bg-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#closeModalBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#closeModalBtn:hover {
    scale: 1.3;
}

.avatar-thumbnail {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

.avatar-thumbnail:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    transition: box-shadow, scale 0.4s ease;
}

.box:not(:hover) {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
/*******************************/
/***    seccion favoritos    ***/
/*******************************/
#favoriteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#emptyList {
    width: 80%;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#emptyList p {
    color: var(--bg-muted);
    font-size: 1.5rem;
    text-align: left;
}
#emptyList p em {
    font-weight: bold;
    font-style: normal;
}
#emptyList svg {
    width: 50px;
    stroke: var(--primary);
}
.favoriteProductAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoriteProductAdd p {
    color: var(--primary);
    font-size: 1.2rem;
    margin-bottom: -10px;
    font-weight: bold;
}
.addMoreFavorites {
    width: 50px;
    stroke: var(--primary);
}

.addMoreFavorites:hover,
#emptyList svg:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px #00000041);
}

.addMoreFavorites:active,
#emptyList svg:active {
    color: var(--white-link);
    opacity: 0.7;
}

.addMoreFavorites {
    width: 50px;
    stroke: var(--primary);
}
#favoriteProductsContainer {
    /* background-color: red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
@media screen and (max-width: 900px) {
    #favoriteProductsContainer {
        grid-template-columns: 100%; /* solo una columna */
    }
    #score-container {
        margin-bottom: 40px;
    }
}

.favoriteProduct {
    width: 100%;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.favoriteProduct figure {
    width: 40%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 10px;
    background-color: aquamarine;
}
.favoriteProduct-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.favoriteProduct-dataContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}
.favoriteProduct-dataContainer a {
    text-decoration: none;
}
#dataContainer .favoriteProduct-dataContainer h2 {
    /* Evita que el texto se ajuste automáticamente en varias líneas */
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
#score-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: end;
    /* background-color: purple; */
}

#product-score-number p {
    font-size: 1.3rem;
    margin: 0;
    transform: translateY(5px);
    line-height: 120%;
    /* line-height: 3rem; */
}

#stars {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#stars > svg {
    width: 20px;
}

.starSvgFilled {
    fill: var(--primary);
    stroke: var(--primary);
}

.starSvgEmpty {
    stroke: var(--primary);
}
