/**************************/
/* Button 1 Style         */
/**************************/
.button1 {
    padding: 5px 10px !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    background-color: var(--primary) !important;
    color: var(--white-link) !important;
    transition: 0.2s !important;
}

.button1:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--primary) !important;
    opacity: 0.9 !important;
}

.button1:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--primary) !important;
    color: var(--white-link) !important;
    opacity: 0.7 !important;
}

.button1s {
    padding: 5px 10px !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    background-color: var(--secondary) !important;
    color: var(--white-link) !important;
    transition: 0.2s !important;
}

.button1s:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--secondary) !important;
    opacity: 0.9 !important;
}

.button1s:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--secondary) !important;
    color: var(--white-link) !important;
    opacity: 0.7 !important;
}

/**************************/
/* Button 2 Style         */
/**************************/
.button2 {
    background-color: var(--bg-white);
    border: solid 1px var(--primary);
    padding: 5px 10px !important;
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary);
    transition: 0.2s;
    opacity: 1;
}

.button2:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    color: var(--white-link);
}

.button2:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    color: var(--white-link);
    opacity: 0.7;
}

/**************************/
/* ButtonMoreInfo Style   */
/**************************/
.buttonMoreInfo {
    text-decoration: none;
    color: var(--white-link);
}

.buttonMoreInfoBox {
    margin: 5px;
    background-color: var(--primary);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.buttonMoreInfoBox:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    opacity: 0.9;
}

.buttonMoreInfoBox:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    color: var(--white-link);
    opacity: 0.7;
}

/************************************************/
/*                 Emoji Buttons                */
/************************************************/

/**************************/
/* Hide Button            */
/**************************/
.hideSvg {
    stroke-width: 2px;
    cursor: pointer;
    stroke: var(--primary);
    transition-property: stroke;
    transition-duration: 0.2s;
}

.hideSvg:hover {
    stroke: var(--danger-link);
}

.hideSvg:active {
    opacity: 0.6;
}

.hideSvg-off {
    stroke-width: 2px;
    cursor: pointer;
    stroke: var(--muted-link);
    transition-property: stroke;
    transition-duration: 0.2s;
}

.hideSvg-off:hover {
    stroke: var(--success-link);
}

.hideSvg-off:active {
    opacity: 0.6;
}

/**************************/
/* Delete Button          */
/**************************/
.deleteSvg {
    cursor: pointer;
    stroke: var(--dark-link);
    transition: 0.2s;
}

.deleteSvg:hover {
    stroke: var(--danger-link);
}

.deleteSvg:active {
    opacity: 0.6;
}

/**************************/
/* Favorite Button        */
/**************************/
.favoriteSvg {
    cursor: pointer;
    stroke: var(--dark-link);
    transition: 0.2s;
}

.favoriteSvg:hover {
    stroke: var(--primary);
}

.favoriteSvg:active {
    opacity: 0.6;
}

.favoriteSvg-on {
    cursor: pointer;
    stroke: var(--primary);
    fill: var(--primary);
    transition: 0.2s;
}

.favoriteSvg-on:hover {
    stroke: var(--danger-link);
    fill: var(--danger-link);
}

.favoriteSvg-on:active {
    opacity: 0.6;
}

/**************************/
/* Mute user Button       */
/**************************/
.muted-user-icon,
.muted-user-icon-off {
    width: 25px;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: 0.2s;
}

.muted-user-icon {
    stroke: var(--primary);
    fill: var(--primary);
}

.muted-user-icon:hover {
    stroke: var(--danger-link);
    fill: var(--danger-link);
}

.muted-user-icon:active {
    opacity: 0.6;
}

.muted-user-icon-off {
    stroke: var(--muted-link);
    fill: var(--muted-link);
}

.muted-user-icon-off:hover {
    stroke: var(--success-link);
    fill: var(--success-link);
}

.muted-user-icon-off:active {
    opacity: 0.6;
}

/**************************/
/* Delete user Button     */
/**************************/
.delete-user-icon,
.delete-user-icon-off {
    width: 25px;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: 0.2s;
}

.delete-user-icon {
    stroke: var(--primary);
    fill: var(--primary);
}

.delete-user-icon:hover {
    stroke: var(--danger-link);
    fill: var(--danger-link);
}

.delete-user-icon:active {
    opacity: 0.6;
}

.delete-user-icon-off {
    stroke: var(--muted-link);
    fill: var(--muted-link);
}

.delete-user-icon-off:hover {
    stroke: var(--success-link);
    fill: var(--success-link);
}

.delete-user-icon-off:active {
    opacity: 0.6;
}

/**************************/
/* edit product Button    */
/**************************/
.editSvg {
    cursor: pointer;
    transition: 0.2s;
}
.editSvg:hover path {
    fill: var(--secondary);
    stroke: var(--secondary);
    stroke-width: 0;
}

.editSvg:active path {
    opacity: 0.6;
}

.editSvg path,
.editSvg polygon,
.editSvg rect {
    fill: var(--dark-link);
}

.editSvg circle {
    stroke: var(--dark-link);
    stroke-width: 1;
}
